@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

:root {
  --primary-color: #55B685;
  --secondary-color: #F2FFF6;
  --tertiary-color: #6C727F;
  --senary-color: rgba(108, 114, 127, 0.1);
  --quaternary-color: #ffffff;
  --quinary-color: #000000;
}

body {
  background-color: #F2FFF6;
  font-family: 'Inter', sans-serif;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  display: block;
}
.container {
  max-width: 90%;
  margin: 0 auto;
  padding-top: 42px;
}

@media (max-width: 980px) {
  .container {
    max-width: 85%;
    padding: 0 20px;
  }
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 980px) {
  .container {
    padding: 20px;
  }
}
.logo {
  display: flex;
  align-items: center;
  gap: 8px;

  h1 {
    font-size: 20px;
    font-weight: 300;
    color: var(--primary-color);
  }
}

.contato {
  display: flex;
  align-items: center;
  gap: 8px;

  img {
    width: 20px;
    height: 20px;
  }

  p {
    font-size: 16px;
    font-weight: 700;
    color: var(--primary-color)
  }
}

.main {
  display: grid;
  grid-template-columns: 1fr 1.2fr;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
  margin-top: 89px;

  .content {
    display: grid;
    gap: 20px;
    .sub-headline {
      font-size: 14px;
      font-weight: 700;
      color: var(--quaternary-color);
      background-color: var(--primary-color);
      padding: 5px 10px;
      border-radius: 30px;
      display: inline-block;
      max-width: max-content;
    }
    h2 {
      font-size: 55px;
      font-weight: 700;
      color: var(--quinary-color);
      line-height: 1;
      max-width: 500px;
    }
    p {
      font-size: 25px;
      font-weight: 500;
      color: var(--tertiary-color);
      line-height: 1.2;
    }
    .tags span {
      background: var(--quaternary-color);
      border: 2px solid var(--senary-color);
      color: var(--tertiary-color);
      padding: 6px 24px;
      border-radius: 30px;
    }
  }
}

  @media (max-width: 980px) {
    .main {
      grid-template-columns: 1fr;
      margin-top: 65px;
    }
    .tags {
      display: grid;
      grid-template-columns: minmax(min-content, 1fr) minmax(min-content, 1fr) minmax(min-content, 1fr);
      gap: 12px;
      max-width: max-content;
    }
  }

.infos {
  margin-top: 89px;
  margin-bottom: 159px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: space-between;
  gap: 20px;

  .info-item {
    text-align: center;
    display: grid;
    gap: 4px;
    h3 {
      font-size: 40px;
      font-weight: 700;
      color: var(--primary-color);
    }
    p {
      font-size: 20px;
      font-weight: 500;
      color: var(--tertiary-color);
      line-height: 1.2;
    }
  }
}

  @media (max-width: 980px) {
    .main {
      grid-template-columns: 1fr;
      margin-top: 65px;
    }
    .infos {
      margin-top: 42px;
      margin-bottom: 59px;
      display: grid;
      grid-template-columns: minmax(min-content, 1fr);
      justify-content: start;
      justify-items: start;
      gap: 20px;
    }
  }

    @media (max-width: 768px) {
    .main {
      grid-template-columns: 1fr;
      margin-top: 65px;
    }
    .info-item h3 {
      margin-top: 12px;
      margin-bottom: 12px;
      display: grid;
      grid-template-columns: 1fr 1fr;
      justify-content: start;
      justify-items: start;
      gap: 20px;
    }
  }

.image-home {
  img {
    border-radius: 30px;
  }
}

.whatsapp {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}